* {
  margin: 0; }

.hero-image-container {
  height: 100vh;
  min-height: 700px; }
  .hero-image-container .hero-image {
    width: 100%;
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center; }
    @media (max-width: 480px) {
      .hero-image-container .hero-image {
        height: 100%; } }
    .hero-image-container .hero-image .names {
      height: 260px;
      text-align: center;
      position: relative;
      top: 8em; }

@media (max-width: 480px) {
  header .navigation {
    display: none; } }
header .navigation .nav-links {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media (max-width: 480px) {
    header .navigation .nav-links {
      height: 40px;
      justify-content: flex-start; } }
  header .navigation .nav-links ul {
    margin-right: 4em; }
    @media (max-width: 480px) {
      header .navigation .nav-links ul {
        padding-left: 0;
        margin-right: 0; } }
    header .navigation .nav-links ul a {
      margin-left: 1em;
      margin-right: 1em;
      text-decoration: none;
      font-weight: 400;
      padding: 10px; }
      @media (max-width: 480px) {
        header .navigation .nav-links ul a {
          padding: 0;
          margin-left: 0.2em;
          margin-right: 0.2em; } }
header .pin-top {
  position: fixed;
  width: 100%;
  top: 0; }
header .pin-top::after {
  position: absolute;
  width: 100%;
  height: 3px; }
header .pin-bottom {
  position: relative; }
  @media (max-width: 480px) {
    header .pin-bottom {
      position: fixed; } }

header ul a:hover {
  color: #b88c03;
  background-color: #ececec; }

header::after {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 2px; }
  @media (max-width: 480px) {
    header::after {
      display: none; } }

.bride-groom {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em; }
  .bride-groom .bride-groom-container {
    width: 1140px;
    height: 912px;
    margin: 90px 130px 110px 130px;
    background-color: #000033;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; }
    @media (max-width: 480px) {
      .bride-groom .bride-groom-container {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: white; } }
    .bride-groom .bride-groom-container .groom-photo {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
      @media (max-width: 480px) {
        .bride-groom .bride-groom-container .groom-photo {
          width: 100%;
          height: 250px;
          margin: 2em 2em 2em 2em; } }
    .bride-groom .bride-groom-container .groom-about {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 480px) {
        .bride-groom .bride-groom-container .groom-about {
          width: 100%;
          height: 450px;
          margin: 2em 2em 1em 2em; } }
    .bride-groom .bride-groom-container .bride-about {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 480px) {
        .bride-groom .bride-groom-container .bride-about {
          width: 100%;
          height: 450px;
          margin: 2em 2em 1em 2em; } }
    .bride-groom .bride-groom-container .bride-photo {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      background: url("../../assets/images2/bride.jpg") center center/cover no-repeat local; }
      @media (max-width: 480px) {
        .bride-groom .bride-groom-container .bride-photo {
          width: 100%;
          height: 250px;
          margin: 2em 2em 2em 2em; } }
    .bride-groom .bride-groom-container .groom-about-para, .bride-groom .bride-groom-container .bride-about-para {
      width: 100%;
      padding: 2em 4em 2em 4em; }
      @media (max-width: 480px) {
        .bride-groom .bride-groom-container .groom-about-para, .bride-groom .bride-groom-container .bride-about-para {
          height: 100%;
          padding: 1em 1em 1em 1em;
          text-align: left; } }
    .bride-groom .bride-groom-container .groom-about-para p, .bride-groom .bride-groom-container .bride-about-para p {
      margin-top: 1.5em; }

.countdown-timer {
  width: 100%;
  height: 370px;
  margn-top: 2em; }
  .countdown-timer .countdown-timer-background {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../../assets/images2/car-image.jpg") center center/cover no-repeat local;
    padding-left: 3em;
    padding-right: 3em; }
    @media (max-width: 480px) {
      .countdown-timer .countdown-timer-background {
        padding-left: 2em;
        padding-right: 2em;
        background: url("../../assets/images2/car-image-phone.jpg") center center/cover no-repeat local; } }
    .countdown-timer .countdown-timer-background .join-us-text {
      position: relative;
      top: 0.4em;
      font-family: 'Great Vibes', cursive; }
      @media (max-width: 480px) {
        .countdown-timer .countdown-timer-background .join-us-text {
          display: none; } }
    .countdown-timer .countdown-timer-background .timer {
      display: flex;
      justify-content: space-between;
      width: 620px;
      height: 114px;
      position: relative;
      top: 2em; }
      .countdown-timer .countdown-timer-background .timer .timer-box-container {
        width: 128px;
        height: 79px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3em;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px; }
        @media (max-width: 480px) {
          .countdown-timer .countdown-timer-background .timer .timer-box-container {
            width: 50px;
            height: 60px; } }
        .countdown-timer .countdown-timer-background .timer .timer-box-container .timer-number {
          display: flex;
          justify-content: center;
          align-items: center; }
          .countdown-timer .countdown-timer-background .timer .timer-box-container .timer-number p {
            font-size: 2em;
            color: goldenrod;
            font-family: 'Cousine', monospace; }
        .countdown-timer .countdown-timer-background .timer .timer-box-container .timer-label {
          color: #909c9a; }

.love-story {
  padding-top: 90px; }
  @media (max-width: 480px) {
    .love-story {
      padding-top: 0;
      margin-top: 3em; } }
  .love-story .love-birds {
    display: flex;
    justify-content: center; }
  .love-story .section-title-container {
    display: flex;
    justify-content: center; }
    .love-story .section-title-container .section-title {
      display: inline-block;
      padding: 0.3em 1em; }
  .love-story ul::before {
    content: '';
    width: 2px;
    height: 1455px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ededed; }
    @media (max-width: 480px) {
      .love-story ul::before {
        left: 10%;
        height: 2010px; } }
  .love-story ul {
    margin-top: 100px;
    margin-bottom: 24px;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 0;
    list-style: none; }
    @media (max-width: 480px) {
      .love-story ul {
        margin: 3em 2em 3em 2em; } }
    .love-story ul li {
      height: 385px;
      display: flex;
      justify-content: center;
      padding-left: 100px;
      padding-right: 100px; }
      @media (max-width: 480px) {
        .love-story ul li {
          display: block;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          left: 3em;
          height: 470px; } }
      .love-story ul li .love-story-description h3 {
        font-family: 'Dosis', sans-serif;
        font-size: 1.4em; }
        @media (max-width: 480px) {
          .love-story ul li .love-story-description h3 {
            margin-left: 0; } }
      .love-story ul li .love-story-description .love-story-date {
        color: #000033;
        margin-top: 6px;
        text-transform: none;
        font-size: 0.9em;
        font-weight: 700; }
      .love-story ul li .love-story-description .love-story-paragraph {
        width: 440px;
        margin-top: 25px;
        line-height: 1.8em;
        font-family: "Dosis", sans-serif;
        color: #767878;
        text-transform: none;
        font-size: 1.2em; }
        @media (max-width: 480px) {
          .love-story ul li .love-story-description .love-story-paragraph {
            width: 230px; } }
      .love-story ul li .love-story-photo {
        position: relative; }
        @media (max-width: 480px) {
          .love-story ul li .love-story-photo {
            margin-top: 1em; } }
        .love-story ul li .love-story-photo span {
          position: absolute;
          top: -10%;
          background-color: #cee0dd;
          width: 43px;
          height: 43px;
          line-height: 41px;
          text-align: center;
          border: 2px solid #cee0dd;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
    .love-story ul li::first-child {
      margin-top: 100px; }
    .love-story ul li:nth-child(odd) {
      text-align: right; }
      @media (max-width: 480px) {
        .love-story ul li:nth-child(odd) {
          text-align: left; } }
      .love-story ul li:nth-child(odd) .love-story-description {
        margin-right: 45px; }
        @media (max-width: 480px) {
          .love-story ul li:nth-child(odd) .love-story-description {
            margin-right: 0; } }
      .love-story ul li:nth-child(odd) .love-story-photo {
        margin-left: 45px; }
        @media (max-width: 480px) {
          .love-story ul li:nth-child(odd) .love-story-photo {
            margin-left: 0; } }
        .love-story ul li:nth-child(odd) .love-story-photo span {
          right: 105%; }
          @media (max-width: 480px) {
            .love-story ul li:nth-child(odd) .love-story-photo span {
              left: -4em;
              top: -23em; } }
    .love-story ul li:nth-child(even) {
      flex-direction: row-reverse; }
      .love-story ul li:nth-child(even) .love-story-description {
        margin-left: 45px; }
        @media (max-width: 480px) {
          .love-story ul li:nth-child(even) .love-story-description {
            margin-left: 0; } }
      .love-story ul li:nth-child(even) .love-story-photo {
        margin-right: 45px; }
        .love-story ul li:nth-child(even) .love-story-photo span {
          left: 105%; }
          @media (max-width: 480px) {
            .love-story ul li:nth-child(even) .love-story-photo span {
              left: -4em;
              top: -23em; } }
  .love-story ul li + li .love-story-description {
    margin-top: 45px; }

.love-story-image2 {
  display: none; }

.wedding-events {
  height: 1450px;
  padding-top: 90px;
  padding-bottom: 110px; }
  @media (max-width: 480px) {
    .wedding-events {
      background-color: white !important;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 3em; } }
  .wedding-events .love-birds {
    display: flex;
    justify-content: center; }
  .wedding-events .section-title-container {
    display: flex;
    justify-content: center; }
    .wedding-events .section-title-container .section-title {
      display: inline-block;
      padding: 0.3em 1em; }
  .wedding-events .wedding-event-info {
    margin: 100px 250px 100px 250px; }
    @media (max-width: 480px) {
      .wedding-events .wedding-event-info {
        margin: 0;
        margin-top: 3em;
        margin-left: 2em;
        margin-right: 2em; } }
    .wedding-events .wedding-event-info .ceremony, .wedding-events .wedding-event-info .reception {
      display: flex; }
      @media (max-width: 480px) {
        .wedding-events .wedding-event-info .ceremony, .wedding-events .wedding-event-info .reception {
          display: block; } }
      .wedding-events .wedding-event-info .ceremony .ceremony-photo, .wedding-events .wedding-event-info .ceremony .reception-photo, .wedding-events .wedding-event-info .reception .ceremony-photo, .wedding-events .wedding-event-info .reception .reception-photo {
        margin-right: 4em; }
        @media (max-width: 480px) {
          .wedding-events .wedding-event-info .ceremony .ceremony-photo, .wedding-events .wedding-event-info .ceremony .reception-photo, .wedding-events .wedding-event-info .reception .ceremony-photo, .wedding-events .wedding-event-info .reception .reception-photo {
            margin-right: 0; } }
      @media (max-width: 480px) {
        .wedding-events .wedding-event-info .ceremony .reception-photo, .wedding-events .wedding-event-info .reception .reception-photo {
          margin-top: 2em;
          margin-bottom: 3em; } }
      .wedding-events .wedding-event-info .ceremony .ceremony-photo, .wedding-events .wedding-event-info .reception .ceremony-photo {
        margin-bottom: 3em; }
      .wedding-events .wedding-event-info .ceremony .ceremony-info h3, .wedding-events .wedding-event-info .ceremony .reception-info h3, .wedding-events .wedding-event-info .reception .ceremony-info h3, .wedding-events .wedding-event-info .reception .reception-info h3 {
        margin: 0 0 0.9em; }
      .wedding-events .wedding-event-info .ceremony .address, .wedding-events .wedding-event-info .ceremony .date, .wedding-events .wedding-event-info .reception .address, .wedding-events .wedding-event-info .reception .date {
        position: relative; }
      .wedding-events .wedding-event-info .ceremony .address, .wedding-events .wedding-event-info .reception .address {
        margin-bottom: 0.5em; }
        .wedding-events .wedding-event-info .ceremony .address span, .wedding-events .wedding-event-info .reception .address span {
          padding-left: 22px;
          margin-bottom: 2em; }
      .wedding-events .wedding-event-info .ceremony .date span, .wedding-events .wedding-event-info .reception .date span {
        padding-left: 18px; }
      .wedding-events .wedding-event-info .ceremony .wedding-info, .wedding-events .wedding-event-info .reception .wedding-info {
        margin-top: 1.5em;
        margin-bottom: 1.5em; }
      .wedding-events .wedding-event-info .ceremony a, .wedding-events .wedding-event-info .reception a {
        display: inline-block;
        margin-top: 5px; }

.seuss-quote {
  height: 370px; }
  .seuss-quote .quote-background {
    height: 100%;
    display: flex;
    align-items: center;
    background: url("../../assets/images2/engagement-banner-image.jpg") center center/cover no-repeat local;
    padding-left: 3em;
    padding-right: 3em; }
    @media (max-width: 480px) {
      .seuss-quote .quote-background {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-right: 1em;
        background: url("../../assets/images2/engagement-banner-image-phone.jpg") center center/cover no-repeat local; } }
    .seuss-quote .quote-background .quote-text {
      font-size: 1.6em;
      font-weight: 700;
      width: 30em;
      color: aliceblue;
      font-family: 'Shadows Into Light', cursive;
      line-height: 1.5;
      letter-spacing: 0.05em; }
      @media (max-width: 480px) {
        .seuss-quote .quote-background .quote-text {
          font-size: 1em !important; } }
      .seuss-quote .quote-background .quote-text .seuss {
        margin-top: 0.7em;
        margin-left: 0.7em; }
        @media (max-width: 480px) {
          .seuss-quote .quote-background .quote-text .seuss {
            font-size: 1em !important; } }

.bridal-party {
  padding-top: 90px; }
  @media (max-width: 480px) {
    .bridal-party {
      padding-top: 0;
      margin-top: 3em;
      background-color: white !important; } }
  .bridal-party .love-birds {
    display: flex;
    justify-content: center; }
  .bridal-party .section-title-container {
    display: flex;
    justify-content: center; }
    .bridal-party .section-title-container .section-title {
      display: inline-block;
      padding: 0.3em 1em; }
  .bridal-party .bridal-party-container {
    margin-top: 100px; }
    @media (max-width: 480px) {
      .bridal-party .bridal-party-container {
        margin-top: 3em; } }
    .bridal-party .bridal-party-container .bridal-party-nav {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center; }
      .bridal-party .bridal-party-container .bridal-party-nav .groomsmen-nav, .bridal-party .bridal-party-container .bridal-party-nav .bridesmaids-nav {
        width: 140px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 3px solid white;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: background 0.8s; }
        .bridal-party .bridal-party-container .bridal-party-nav .groomsmen-nav p, .bridal-party .bridal-party-container .bridal-party-nav .bridesmaids-nav p {
          text-transform: uppercase;
          color: #b88c03;
          font-family: 'Dosis', sans-serif;
          font-weight: 600; }
      .bridal-party .bridal-party-container .bridal-party-nav .groomsmen-nav:hover, .bridal-party .bridal-party-container .bridal-party-nav .bridesmaids-nav:hover {
        background: #9fc2bc radial-gradient(circle, transparent 1%, #9fc2bc 1%) center/15000%; }
      .bridal-party .bridal-party-container .bridal-party-nav .groomsmen-nav:active, .bridal-party .bridal-party-container .bridal-party-nav .bridesmaids-nav:active {
        background-color: #cee0dd;
        background-size: 100%;
        transition: background 0s; }
@keyframes fadeIn {
  to {
    opacity: 1; } }
    .bridal-party .bridal-party-container .fade-in {
      opacity: 0;
      animation: fadeIn 0.9s ease-in 1 forwards; }
    .bridal-party .bridal-party-container .is-paused {
      animation-play-state: paused; }
    .bridal-party .bridal-party-container .groomsmen, .bridal-party .bridal-party-container .bridesmaids {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 60px;
      padding-bottom: 100px; }
      @media (max-width: 480px) {
        .bridal-party .bridal-party-container .groomsmen, .bridal-party .bridal-party-container .bridesmaids {
          padding-bottom: 0; } }
      .bridal-party .bridal-party-container .groomsmen .about-groomsmen, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids {
        height: 450px;
        background-color: white;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px; }
        @media (max-width: 480px) {
          .bridal-party .bridal-party-container .groomsmen .about-groomsmen, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids {
            margin-left: 0;
            margin-right: 0; } }
        .bridal-party .bridal-party-container .groomsmen .about-groomsmen .groomsmen-text, .bridal-party .bridal-party-container .groomsmen .about-groomsmen .bridesmaids-text, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids .groomsmen-text, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids .bridesmaids-text, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen .groomsmen-text, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen .bridesmaids-text, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids .groomsmen-text, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids .bridesmaids-text {
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .bridal-party .bridal-party-container .groomsmen .about-groomsmen .groomsmen-text .groomsmen-text-container, .bridal-party .bridal-party-container .groomsmen .about-groomsmen .groomsmen-text .bridesmaids-text-container, .bridal-party .bridal-party-container .groomsmen .about-groomsmen .bridesmaids-text .groomsmen-text-container, .bridal-party .bridal-party-container .groomsmen .about-groomsmen .bridesmaids-text .bridesmaids-text-container, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids .groomsmen-text .groomsmen-text-container, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids .groomsmen-text .bridesmaids-text-container, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids .bridesmaids-text .groomsmen-text-container, .bridal-party .bridal-party-container .groomsmen .about-bridesmaids .bridesmaids-text .bridesmaids-text-container, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen .groomsmen-text .groomsmen-text-container, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen .groomsmen-text .bridesmaids-text-container, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen .bridesmaids-text .groomsmen-text-container, .bridal-party .bridal-party-container .bridesmaids .about-groomsmen .bridesmaids-text .bridesmaids-text-container, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids .groomsmen-text .groomsmen-text-container, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids .groomsmen-text .bridesmaids-text-container, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids .bridesmaids-text .groomsmen-text-container, .bridal-party .bridal-party-container .bridesmaids .about-bridesmaids .bridesmaids-text .bridesmaids-text-container {
            text-align: center; }
    .bridal-party .bridal-party-container .bridal-party-hide {
      opacity: 0;
      display: none;
      visibility: hidden; }

.button-color-dark {
  background-color: #9fc2bc; }

.button-color-light {
  background-color: #cee0dd; }

.faq {
  margin-top: 90px;
  margin-bottom: 90px;
  height: 2460px; }
  @media (max-width: 480px) {
    .faq {
      height: 3470px;
      margin-top: 0; } }
  .faq .faq-title {
    display: flex;
    justify-content: center; }
  .faq .questions-and-answers-container {
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 50px; }
    @media (max-width: 480px) {
      .faq .questions-and-answers-container {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2em; } }
    .faq .questions-and-answers-container .questions-and-answers {
      width: 700px; }
      .faq .questions-and-answers-container .questions-and-answers .question-container {
        padding: 25px 0 25px 10px; }
        @media (max-width: 480px) {
          .faq .questions-and-answers-container .questions-and-answers .question-container {
            padding: 20px 10px 20px 10px; } }
        .faq .questions-and-answers-container .questions-and-answers .question-container .question-title {
          display: flex;
          justify-content: space-between; }
        .faq .questions-and-answers-container .questions-and-answers .question-container .question-answer {
          margin-top: 20px;
          padding-right: 35px;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
          @media (max-width: 480px) {
            .faq .questions-and-answers-container .questions-and-answers .question-container .question-answer {
              height: 8em;
              padding-right: 0; } }

.rsvp {
  height: 100%; }
  .rsvp .rsvp-background {
    width: 100%;
    height: 100%;
    background: url("../../assets/images2/rsvp-flower-bg.jpg") center center/cover no-repeat local; }
    .rsvp .rsvp-background .rsvp-title-container {
      display: flex;
      justify-content: center; }
      .rsvp .rsvp-background .rsvp-title-container .rsvp-title {
        margin-top: 150px;
        text-align: center;
        color: burlywood; }
        @media (max-width: 480px) {
          .rsvp .rsvp-background .rsvp-title-container .rsvp-title {
            margin-top: 4em; } }
        .rsvp .rsvp-background .rsvp-title-container .rsvp-title h1 {
          font-family: 'Great Vibes', cursive;
          font-size: 5em; }
        .rsvp .rsvp-background .rsvp-title-container .rsvp-title h3 {
          font-size: 2em;
          font-weight: 500;
          font-style: italic; }
          @media (max-width: 480px) {
            .rsvp .rsvp-background .rsvp-title-container .rsvp-title h3 {
              font-size: 1.5em; } }
    .rsvp .rsvp-background .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px; }
      .rsvp .rsvp-background .form-container .form-design {
        background-color: rgba(255, 255, 255, 0.1);
        color: aliceblue;
        padding: 10px 20px;
        box-shadow: none;
        border: 2px solid gray;
        display: inline-block;
        border-radius: 25px;
        font-size: 14px;
        line-height: 1.42857143; }
      .rsvp .rsvp-background .form-container form {
        width: 600px; }
        @media (max-width: 480px) {
          .rsvp .rsvp-background .form-container form {
            text-align: center; } }
        .rsvp .rsvp-background .form-container form .row-1 {
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
          height: 80px; }
          @media (max-width: 480px) {
            .rsvp .rsvp-background .form-container form .row-1 {
              display: block;
              height: 100%; } }
          .rsvp .rsvp-background .form-container form .row-1 .form-design {
            wdith: 210px; }
        .rsvp .rsvp-background .form-container form .row-2 {
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
          height: 80px; }
          @media (max-width: 480px) {
            .rsvp .rsvp-background .form-container form .row-2 {
              display: block;
              height: 100%; } }
          .rsvp .rsvp-background .form-container form .row-2 .dropdown {
            width: 85px;
            height: 40px; }
            @media (max-width: 480px) {
              .rsvp .rsvp-background .form-container form .row-2 .dropdown {
                width: 8em;
                text-align: center; } }
          .rsvp .rsvp-background .form-container form .row-2 span {
            color: aliceblue;
            font-family: 'Open Sans', sans-serif;
            font-size: 0.9em;
            margin-left: 0.5em;
            letter-spacing: 1px; }
          .rsvp .rsvp-background .form-container form .row-2 #no-response {
            line-height: 25px; }
        @media (max-width: 480px) {
          .rsvp .rsvp-background .form-container form .row-2 > div {
            margin-bottom: 20px; } }
        .rsvp .rsvp-background .form-container form .row-3 {
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 20px; }
          @media (max-width: 480px) {
            .rsvp .rsvp-background .form-container form .row-3 {
              display: block; } }
          .rsvp .rsvp-background .form-container form .row-3 textarea {
            width: 492px;
            height: 90px;
            outline: none;
            letter-spacing: 1px;
            font-family: 'Open Sans', sans-serif;
            resize: none; }
            @media (max-width: 480px) {
              .rsvp .rsvp-background .form-container form .row-3 textarea {
                width: 260px; } }
        .rsvp .rsvp-background .form-container form label {
          display: block;
          color: burlywood;
          margin-bottom: 9px;
          font-size: 0.9em;
          font-weight: 500;
          font-family: 'Dosis', sans-serif;
          letter-spacing: 1px; }
        .rsvp .rsvp-background .form-container form .row-4 {
          display: flex;
          justify-content: center;
          button: active; }
          .rsvp .rsvp-background .form-container form .row-4 button {
            width: 140px;
            padding: 10px;
            border: 3px solid white;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            transition: background 0.8s;
            background-color: #cee0dd;
            text-transform: uppercase;
            color: #b88c03;
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            font-size: 0.9em; }
            @media (max-width: 480px) {
              .rsvp .rsvp-background .form-container form .row-4 button {
                margin-bottom: 4em; } }
          .rsvp .rsvp-background .form-container form .row-4 button:hover {
            background: #9fc2bc radial-gradient(circle, transparent 1%, #9fc2bc 1%) center/15000%; }

@media (max-width: 480px) {
  .first-radio {
    position: relative;
    right: 0.55em; } }

input[type="text"]:focus {
  outline: none; }

.name-email {
  width: 215px; }

.dropdown-container {
  text-align: center; }

.names h1 {
  font-family: 'Great Vibes', cursive;
  color: gainsboro;
  letter-spacing: 0.05em;
  font-size: 5em; }
  @media (max-width: 480px) {
    .names h1 {
      font-size: 3em; } }
.names h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 20px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 500; }

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #daa520; }

.groom-about-para h2, .bride-about-para h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase; }

.groom-about-para p, .bride-about-para p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  line-height: 1.8em; }

.groom-about-para span, .bride-about-para span {
  font-family: 'Great Vibes', cursive;
  font-size: 1.8em; }

.join-us-text {
  font-size: 4em;
  font-family: 'Lovers Quarrel', cursive;
  color: lightgray; }

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: 1.6em;
  letter-spacing: 5px;
  color: #daa520; }
  @media (max-width: 480px) {
    .section-title {
      font-size: 1.2em !important; } }

.ceremony-info h3, .reception-info h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  color: #000033;
  text-transform: uppercase; }

.address, .date {
  font-family: "Dosis", sans-serif;
  font-size: 0.88889em;
  color: #a9a9a9; }
  .address .fas, .address .far, .date .fas, .date .far {
    color: #daa520; }

.wedding-info {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  color: #767878;
  line-height: 1.8em; }

a {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #daa520; }

.dropdown {
  display: none !important; }

.hero-image {
  background: url("../../assets/images2/hero-image.jpg") center center/cover no-repeat local; }

header::after {
  content: "";
  background: #ececec; }

.navigation {
  background-color: #fff;
  z-index: 1; }
  .navigation ul {
    list-style: none; }
    .navigation ul li {
      display: inline; }

.pin-top::after {
  content: "";
  background: #ececec; }

.bride-groom-container {
  background-color: #000033; }
  .bride-groom-container .groom-photo {
    backround-color: blue;
    background: url("../../assets/images2/groom.jpg") center center/cover no-repeat local; }
  .bride-groom-container .groom-about-para, .bride-groom-container .bride-about-para {
    color: white; }
  .bride-groom-container .bride-about-para {
    text-align: right; }
  .bride-groom-container .groom-about-para h2, .bride-groom-container .groom-about-para p, .bride-groom-container .bride-about-para h2, .bride-groom-container .bride-about-para p {
    color: darkgray; }

.section-title {
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033; }

.wedding-events {
  background-color: #f6f6f6; }

.bridal-party {
  background-color: #f6f6f6; }
  .bridal-party .groomsmen-name, .bridal-party .bridesmaids-name {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    color: goldenrod;
    font-weight: 600; }
  .bridal-party .groomsmen-title, .bridal-party .bridesmaids-title {
    font-family: "Dosis", sans-serif;
    color: #969494;
    font-size: 0.9em;
    margin-top: 10px; }

.faq-title h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  color: goldenrod; }

.question-container {
  border-bottom: 2px solid;
  border-color: rgba(204, 204, 204, 0.6885245902); }
  .question-container .question-title {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #767878;
    cursor: pointer; }
  .question-container .question-answer {
    display: flex;
    align-items: center; }
  .question-container .question-answer-hide, .question-container .question-answer-show {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #767878;
    margin-top: 20px; }
  .question-container .question-answer-hide {
    height: 0px;
    opacity: 0; }
    @media (max-width: 480px) {
      .question-container .question-answer-hide {
        height: 57px;
        opacity: 1; } }
  .question-container .question-answer-show {
    height: 57px;
    opaicty: 1; }

@media only screen and (max-width: 480px) {
  .love-story-image1 {
    display: none; }

  .love-story-image2 {
    display: block; }

  .arrow {
    display: none; }

  .wedding-event-info img {
    width: 315px;
    height: 200px; }

  .about-groomsmen img {
    width: 375px;
    height: 260px; }

  .dropbtn {
    background-color: white;
    color: goldenrod;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; }

  .dropdown {
    position: relative;
    display: inline-block !important; }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0; }

  .dropdown-content a {
    color: goldenrod;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 400; }

  .dropdown-content a:hover {
    background-color: #f1f1f1; }

  .dropdown:hover .dropbtn {
    background-color: white; }

  .hamburger-menu {
    width: 45px;
    height: 3px;
    background-color: goldenrod;
    margin: 6px 0;
    margin-right: 1em; }

  .show-hamburger-menu {
    display: block;
    width: 10em;
    opacity: 1;
    transition: all 0.6s ease-in; }

  .up-arrow {
    display: none;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 25px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */ } }

/*# sourceMappingURL=styles.css.map */
