* {
  margin: 0; }

.hero-container {
  height: 100vh;
  min-height: 700px; }
  .hero-container .hero-image {
    width: 100%;
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center; }
    .hero-container .hero-image .names {
      height: 260px;
      text-align: center;
      position: relative;
      top: 8em; }

header .navigation {
  min-height: 70px; }
  header .navigation .nav-links {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header .navigation .nav-links ul {
      margin-right: 4em; }
      header .navigation .nav-links ul li {
        margin-right: 2em; }
header .pin-top {
  position: fixed;
  width: 100%;
  top: 0; }
header .pin-top::after {
  position: absolute;
  width: 100%;
  height: 3px; }
header .pin-bottom {
  position: relative; }

header::after {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 2px; }

.bride-groom {
  height: 100%;
  display: flex;
  justify-content: center; }
  .bride-groom .bride-groom-container {
    width: 1140px;
    height: 912px;
    margin: 90px 130px 110px 130px;
    background-color: #000033;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; }
    .bride-groom .bride-groom-container .groom-photo {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .bride-groom .bride-groom-container .groom-about {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      justify-content: center;
      align-items: center; }
    .bride-groom .bride-groom-container .bride-about {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .bride-groom .bride-groom-container .bride-photo {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533182881/alvin-mahmudov-172241-unsplash.jpg) center center/cover no-repeat local; }
    .bride-groom .bride-groom-container .groom-about-para, .bride-groom .bride-groom-container .bride-about-para {
      width: 100%;
      padding: 2em 4em 2em 4em; }
    .bride-groom .bride-groom-container .groom-about-para p, .bride-groom .bride-groom-container .bride-about-para p {
      margin-top: 1.5em; }

.countdown-timer {
  width: 100%;
  height: 370px; }
  .countdown-timer .countdown-timer-background {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533825638/car3.jpg) center center/cover no-repeat local;
    padding-left: 3em;
    padding-right: 3em; }
    .countdown-timer .countdown-timer-background .fun-begins-text {
      position: relative;
      top: 0.4em;
      font-family: 'Great Vibes', cursive; }
    .countdown-timer .countdown-timer-background .timer {
      display: flex;
      justify-content: space-between;
      width: 620px;
      height: 114px;
      position: relative;
      top: 2em; }
      .countdown-timer .countdown-timer-background .timer .timer-box {
        width: 128px;
        height: 79px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3em;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px; }
        .countdown-timer .countdown-timer-background .timer .timer-box .timer-number {
          display: flex;
          justify-content: center;
          align-items: center; }
          .countdown-timer .countdown-timer-background .timer .timer-box .timer-number p {
            font-size: 2em;
            color: goldenrod;
            font-family: 'Cousine', monospace; }
        .countdown-timer .countdown-timer-background .timer .timer-box .timer-label {
          color: #909c9a; }

.love-story {
  padding-top: 90px; }
  .love-story .love-birds {
    display: flex;
    justify-content: center; }
  .love-story .section-title-container {
    display: flex;
    justify-content: center; }
    .love-story .section-title-container .section-title {
      display: inline-block;
      padding: 0.3em 1em; }
  .love-story ul::before {
    content: '';
    width: 2px;
    height: 1455px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ededed; }
  .love-story ul {
    margin-top: 100px;
    margin-bottom: 24px;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 0;
    list-style: none; }
    .love-story ul li {
      height: 385px;
      display: flex;
      justify-content: center;
      padding-left: 100px;
      padding-right: 100px; }
      .love-story ul li .love-story-description h3 {
        font-family: 'Dosis', sans-serif;
        font-size: 1.4em; }
      .love-story ul li .love-story-description .love-story-date {
        color: #000033;
        margin-top: 6px;
        text-transform: none;
        font-size: 0.9em;
        font-weight: 700; }
      .love-story ul li .love-story-description .love-story-paragraph {
        width: 440px;
        margin-top: 25px;
        line-height: 1.8em;
        font-family: "Dosis", sans-serif;
        color: #767878;
        text-transform: none;
        font-size: 1.2em; }
      .love-story ul li .love-story-photo {
        position: relative; }
        .love-story ul li .love-story-photo span {
          position: absolute;
          top: -10%;
          background-color: #cee0dd;
          width: 43px;
          height: 43px;
          line-height: 41px;
          text-align: center;
          border: 2px solid #cee0dd;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
    .love-story ul li::first-child {
      margin-top: 100px; }
    .love-story ul li:nth-child(odd) {
      text-align: right; }
      .love-story ul li:nth-child(odd) .love-story-description {
        margin-right: 45px; }
      .love-story ul li:nth-child(odd) .love-story-photo {
        margin-left: 45px; }
        .love-story ul li:nth-child(odd) .love-story-photo span {
          right: 105%; }
    .love-story ul li:nth-child(even) {
      flex-direction: row-reverse; }
      .love-story ul li:nth-child(even) .love-story-description {
        margin-left: 45px; }
      .love-story ul li:nth-child(even) .love-story-photo {
        margin-right: 45px; }
        .love-story ul li:nth-child(even) .love-story-photo span {
          left: 105%; }
  .love-story ul li + li .love-story-description {
    margin-top: 45px; }

.wedding-events {
  height: 800px;
  padding-top: 90px;
  padding-bottom: 110px; }
  .wedding-events .love-birds {
    display: flex;
    justify-content: center; }
  .wedding-events .section-title-container {
    display: flex;
    justify-content: center; }
    .wedding-events .section-title-container .section-title {
      display: inline-block;
      padding: 0.3em 1em; }
  .wedding-events .wedding-event-info {
    margin: 100px 250px 100px 250px; }
    .wedding-events .wedding-event-info .ceremony, .wedding-events .wedding-event-info .reception {
      display: flex; }
      .wedding-events .wedding-event-info .ceremony .ceremony-photo, .wedding-events .wedding-event-info .ceremony .reception-photo, .wedding-events .wedding-event-info .reception .ceremony-photo, .wedding-events .wedding-event-info .reception .reception-photo {
        margin-right: 4em; }
      .wedding-events .wedding-event-info .ceremony .ceremony-photo, .wedding-events .wedding-event-info .reception .ceremony-photo {
        margin-bottom: 3em; }
      .wedding-events .wedding-event-info .ceremony .ceremony-info h3, .wedding-events .wedding-event-info .ceremony .reception-info h3, .wedding-events .wedding-event-info .reception .ceremony-info h3, .wedding-events .wedding-event-info .reception .reception-info h3 {
        margin: 0 0 0.9em; }
      .wedding-events .wedding-event-info .ceremony .address, .wedding-events .wedding-event-info .ceremony .date, .wedding-events .wedding-event-info .reception .address, .wedding-events .wedding-event-info .reception .date {
        position: relative; }
      .wedding-events .wedding-event-info .ceremony .address, .wedding-events .wedding-event-info .reception .address {
        margin-bottom: 0.5em; }
        .wedding-events .wedding-event-info .ceremony .address span, .wedding-events .wedding-event-info .reception .address span {
          padding-left: 22px;
          margin-bottom: 2em; }
      .wedding-events .wedding-event-info .ceremony .date span, .wedding-events .wedding-event-info .reception .date span {
        padding-left: 18px; }
      .wedding-events .wedding-event-info .ceremony .wedding-info, .wedding-events .wedding-event-info .reception .wedding-info {
        margin-top: 1.5em;
        margin-bottom: 1.5em; }
      .wedding-events .wedding-event-info .ceremony a, .wedding-events .wedding-event-info .reception a {
        display: inline-block;
        margin-top: 5px; }

.quote-section {
  width: 100%;
  height: 370px; }
  .quote-section .quote-background {
    height: 100%;
    display: flex;
    align-items: center;
    background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533851015/cropwall_copy.jpg) center center/cover no-repeat local;
    padding-left: 3em;
    padding-right: 3em; }
    .quote-section .quote-background .quote-text {
      font-size: 1.6em;
      font-weight: 700;
      width: 30em;
      color: aliceblue;
      font-family: 'Shadows Into Light', cursive;
      line-height: 1.5;
      letter-spacing: 0.05em; }
      .quote-section .quote-background .quote-text .seuss {
        margin-top: 0.7em;
        margin-left: 0.7em; }

.faq {
  margin-top: 90px; }
  .faq .faq-title {
    display: flex;
    justify-content: center; }
  .faq .questions-and-answers-container {
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 50px; }
    .faq .questions-and-answers-container .questions-and-answers {
      width: 680px; }
      .faq .questions-and-answers-container .questions-and-answers .question-container {
        padding: 25px 0 25px 10px; }
        .faq .questions-and-answers-container .questions-and-answers .question-container .question-title {
          display: flex;
          justify-content: space-between; }
        .faq .questions-and-answers-container .questions-and-answers .question-container .question-answer {
          margin-top: 20px;
          padding-right: 35px; }

.names h1 {
  font-family: 'Great Vibes', cursive;
  color: gainsboro;
  letter-spacing: 0.05em;
  font-size: 5em; }
.names h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 20px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 500; }

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #b88c03; }

.groom-about-para h2, .bride-about-para h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase; }

.groom-about-para p, .bride-about-para p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  line-height: 1.8em; }

.groom-about-para span, .bride-about-para span {
  font-family: 'Great Vibes', cursive;
  font-size: 1.8em; }

.fun-begins-text {
  font-size: 4em;
  font-family: 'Lovers Quarrel', cursive;
  color: lightgray; }

.section-title {
  font-family: 'Great Vibes', cursive;
  font-size: 1.6em;
  letter-spacing: 5px;
  color: #daa520; }

.ceremony-info h3, .reception-info h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  color: #000033;
  text-transform: uppercase; }

.address, .date {
  font-family: "Dosis", sans-serif;
  font-size: 0.88889em;
  color: #a9a9a9; }
  .address .fas, .address .far, .date .fas, .date .far {
    color: #daa520; }

.wedding-info {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  color: #767878;
  line-height: 1.8em; }

a {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #daa520; }

.hero-image {
  background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533787731/cropped.jpg) center center/cover no-repeat local; }

header::after {
  content: "";
  background: #ececec; }

.navigation {
  background-color: #fff;
  z-index: 1; }
  .navigation ul {
    list-style: none; }
    .navigation ul li {
      display: inline; }

.pin-top::after {
  content: "";
  background: #ececec; }

.bride-groom-container {
  background-color: #000033; }
  .bride-groom-container .groom-photo {
    backround-color: blue;
    background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533182760/groom.jpg) center center/cover no-repeat local; }
  .bride-groom-container .groom-about-para, .bride-groom-container .bride-about-para {
    color: white; }
  .bride-groom-container .bride-about-para {
    text-align: right; }
  .bride-groom-container .groom-about-para h2, .bride-groom-container .groom-about-para p, .bride-groom-container .bride-about-para h2, .bride-groom-container .bride-about-para p {
    color: darkgray; }

.section-title {
  border-top: 1px solid #000033;
  border-bottom: 1px solid #000033; }

.wedding-events {
  background-color: #f6f6f6; }

.faq-title h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  color: goldenrod; }

.question-container {
  border-bottom: 2px solid;
  border-color: rgba(204, 204, 204, 0.6885245902); }
  .question-container .question-title {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #767878;
    cursor: pointer; }
  .question-container .question-answer-hide, .question-container .question-answer-show {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #767878;
    margin-top: 20px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .question-container .question-answer-hide {
    height: 0px;
    opacity: 0; }
  .question-container .question-answer-show {
    height: 57px;
    opaicty: 1; }

/*# sourceMappingURL=styles.css.map */
