* {
  margin: 0; }

.hero-container {
  height: 100vh;
  min-height: 700px; }
  .hero-container .hero-image {
    width: 100%;
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center; }
    .hero-container .hero-image .names {
      position: relative;
      top: 4em; }

header .navigation {
  min-height: 70px; }
  header .navigation .nav-links {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header .navigation .nav-links ul {
      margin-right: 4em; }
      header .navigation .nav-links ul li {
        margin-right: 2em; }
header .pin-top {
  position: fixed;
  width: 100%;
  top: 0; }
header .pin-top::after {
  position: absolute;
  width: 100%;
  height: 3px; }
header .pin-bottom {
  position: relative; }

header::after {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 2px; }

.bride-groom {
  height: 100%;
  display: flex;
  justify-content: center; }
  .bride-groom .bride-groom-container {
    width: 1140px;
    height: 912px;
    margin: 90px 130px 110px 130px;
    background-color: #000033;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; }
    .bride-groom .bride-groom-container .groom-photo {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .bride-groom .bride-groom-container .groom-about {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      justify-content: center;
      align-items: center; }
    .bride-groom .bride-groom-container .bride-about {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .bride-groom .bride-groom-container .bride-photo {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533182881/alvin-mahmudov-172241-unsplash.jpg) center center/cover no-repeat local; }
    .bride-groom .bride-groom-container .groom-about-para, .bride-groom .bride-groom-container .bride-about-para {
      width: 100%;
      padding: 2em 4em 2em 4em; }
    .bride-groom .bride-groom-container .groom-about-para p, .bride-groom .bride-groom-container .bride-about-para p {
      margin-top: 1.5em; }

.names {
  font-family: 'Sacramento', cursive;
  font-size: 2.5em;
  color: #daa520; }

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #b88c03; }

.groom-about-para h2, .bride-about-para h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase; }

.groom-about-para p, .bride-about-para p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  line-height: 1.8em; }

.groom-about-para span, .bride-about-para span {
  font-family: 'Great Vibes', cursive;
  font-size: 1.8em; }

.hero-image {
  background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533132631/cave-image.jpg) center center/cover no-repeat local;
  opacity: 0.7; }

header::after {
  content: "";
  background: #ececec; }

.navigation {
  background-color: #fff; }
  .navigation ul {
    list-style: none; }
    .navigation ul li {
      display: inline; }

.pin-top::after {
  content: "";
  background: #ececec; }

.bride-groom-container {
  background-color: #000033; }
  .bride-groom-container .groom-photo {
    backround-color: blue;
    background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533182760/groom.jpg) center center/cover no-repeat local; }
  .bride-groom-container .groom-about-para, .bride-groom-container .bride-about-para {
    color: white; }
  .bride-groom-container .bride-about-para {
    text-align: right; }
  .bride-groom-container .groom-about-para h2, .bride-groom-container .groom-about-para p, .bride-groom-container .bride-about-para h2, .bride-groom-container .bride-about-para p {
    color: darkgray; }

/*# sourceMappingURL=styles.css.map */
