// Home Screen
.hero-image-container {
    height: 100vh;
    min-height: 700px;

    @include bp (mama-bear) {
        min-height: 0;
    }

    .hero-image {
        width: 100%;
        height: calc(100vh - 50px);
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;

        @include bp (baby-bear) {
            height: 100%;
        }

        .names {
            height: 260px;
            text-align: center;
            position: relative;
            top: 8em;
        }
    }
}

// Navbar
header {
    .navigation {
        // min-height: 70px;

        @include bp (baby-bear) {
            display: none;
        }

        .nav-links {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include bp (baby-bear) {
                height: 40px;
                justify-content: center;
            }

            @include bp (mama-bear) {
                height: 40px;
                justify-content: center;;
            }

            ul {
                margin-right: 4em;

                @include bp (baby-bear) {
                    padding-left: 0;
                    margin-right: 0;
                }

                a {
                    margin-left: 1em;
                    margin-right: 1em;
                    text-decoration: none;
                    font-weight: 400;
                    padding: 10px;

                    @include bp (baby-bear) {
                        padding: 0;
                        margin-left: 0.2em;
                        margin-right: 0.2em;
                    }

                    @include bp (mama-bear) {
                        padding: 0;
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                    }
                }

            }
        }
    }

    .pin-top {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .pin-top::after {
        position: absolute;
        width: 100%;
        height: 3px;
    }

    .pin-bottom {
        position: relative;

        @include bp (baby-bear) {
            position: fixed;
        }
    }
}

header ul a:hover {
    color: #b88c03;
    background-color: $light-gray;
}

// header ul a {
//         position: relative;
//         padding-left: 10px;
//         padding-right: 10px;
//         padding-top: 2px;
//         padding-bottom: 2px;
//     }

// header ul a::before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 20px;
//         height: 20px;
//         border-top: 3px solid #000033;
//         border-left: 3px solid #000033;
//         transition: width 0.5s, height 0.5s;
//         box-sizing: border-box;
//     }

// header ul a::after {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         width: 20px;
//         height: 20px;
//         border-bottom: 3px solid #000033;
//         border-right: 3px solid #000033;
//         transition: width 0.5s, height 0.5s;
//         box-sizing: border-box;
//     }

// header ul a:hover::before {
//     width: 100%;
//     height: 100%;
// }

// header ul a:hover::after {
//     width: 100%;
//     height: 100%;
// }

header::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 2px;

    @include bp (baby-bear) {
        display: none;
    }
}

.bride-groom {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;


    .bride-groom-container {
        width: 1140px;
        height: 912px;
        margin: 90px 130px 110px 130px;
        background-color: #000033;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

        @include bp (baby-bear) {
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: white;
        }

        @include bp (mama-bear) {
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: white;
        }

        .groom-photo {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;

            @include bp (baby-bear) {
                width: 100%;
                height: 250px;
                margin: 2em 2em 2em 2em;
            }

            @include bp (mama-bear) {
                width: 100%;
                height: 450px;
                margin: 2em 2em 2em 2em;
            }
        }

        .groom-about {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            @include bp (baby-bear) {
                width: 100%;
                height: 450px;
                margin: 2em 2em 1em 2em;
            }

            @include bp (mama-bear) {
                width: 100%;
                height: 300px;
                margin: 2em 2em 1em 2em;
            }
        }

        .bride-about {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;

            @include bp (baby-bear) {
                width: 100%;
                height: 450px;
                margin: 2em 2em 1em 2em;
            }

            @include bp (mama-bear) {
                width: 100%;
                height: 300px;
                margin: 2em 2em 1em 2em;
            }
        }

        .bride-photo {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          background: url("../../assets/images2/bride.jpg") center center/cover no-repeat local;

          @include bp (baby-bear) {
                width: 100%;
                height: 450px;
                margin: 2em 2em 2em 2em;
            }

            @include bp (mama-bear) {
                width: 100%;
                height: 450px;
                margin: 2em 2em 2em 2em;
            }
        }

        .groom-about-para, .bride-about-para {
            width: 100%;
            padding: 2em 4em 2em 4em;

            @include bp (baby-bear) {
                height: 100%;
                padding: 1em 1em 1em 1em;
                text-align: left;
            }

            @include bp (mama-bear) {
                height: 100%;
                padding: 1em 1em 1em 1em;
                text-align: left;
            }
        }

        .groom-about-para p, .bride-about-para p {
            margin-top: 1.5em;
        }
    }
}

.countdown-timer {
    width: 100%;
    height: 370px; 
    margn-top: 2em;

    .countdown-timer-background {
        // width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: url("../../assets/images2/car-image.jpg") center center/cover no-repeat local;
        // background-attachment: fixed;
        // color: white;
        padding-left: 3em;
        padding-right: 3em;

        @include bp (baby-bear) {    
            padding-left: 2em;
            padding-right: 2em;
            background: url("../../assets/images2/car-image-phone.jpg") center center/cover no-repeat local;
        }

        .join-us-text {
            position: relative;
            top: 0.4em;
            font-family: 'Great Vibes', cursive;

            @include bp (baby-bear) {
                display: none;  
            }

            @include bp (mama-bear) {
                display: none;  
            }
        }

        .timer {
          display: flex;
          justify-content: space-between;
          width: 620px;
          height: 114px;
          position: relative;
          top: 2em;

          .timer-box-container {
            width: 128px;
            height: 79px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3em;
            border: 5px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            @include bp (baby-bear) {
                width: 50px;
                height: 60px;
            }
              
              .timer-number {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                    p {
                      font-size: 2em;
                      color: goldenrod;
                      font-family: 'Cousine', monospace;
                    }
              }

              .timer-label {
                  color: #909c9a;
              }
          }
        }
  }
}

.love-story {
  // height: 2000px;
    padding-top: 90px;
    // background-color: #fafafa;
    @include bp (baby-bear) {
        padding-top: 0;
        margin-top: 3em;      
    }

    @include bp (mama-bear) {
        padding-top: 0;
        margin-top: 3em;      
    }

    .love-birds {
        display: flex;
        justify-content: center;
    }

    .section-title-container {
        display: flex;
        justify-content: center;

        .section-title {
            display: inline-block;
            padding: 0.3em 1em; 
        }
    }

    ul::before {
        content: '';
        width: 2px;
        height: 1455px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #ededed;

        @include bp (baby-bear) {
            left: 10%;  
            height: 1970px;
        }

        @include bp (mama-bear) {
            left: 15%;  
            height: 2210px;
        }
    }

    ul {
        margin-top: 100px;
        margin-bottom: 24px;
        margin-left: 130px;
        margin-right: 130px;
        padding-left: 0;
        list-style: none;

        @include bp (baby-bear) {
            margin: 3em 2em 3em 2em; 
        }

        @include bp (mama-bear) {
            margin-bottom: 90px;
        }

        li {
            height: 385px;
            display: flex;
            justify-content: center;
            padding-left: 100px;
            padding-right: 100px;

            @include bp (baby-bear) {
                display: block;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                left: 2em;
                height: 470px;
            }

            @include bp (mama-bear) {
                display: block;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                left: 2em;
                height: 520px;
            }

            
            .love-story-description {
                h3 {
                    font-family: 'Dosis', sans-serif;
                    font-size: 1.4em;

                    @include bp (baby-bear) {
                        margin-left: 0;
                    }

                    @include bp (mama-bear) {
                        margin-left: 0;
                    }
                }

                .love-story-date {
                    color: #000033;
                    margin-top: 6px;
                    text-transform: none;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                .love-story-paragraph {
                    width: 440px;
                    margin-top: 25px;
                    line-height: 1.8em;
                    font-family: "Dosis", sans-serif;
                    color: #767878;
                    text-transform: none;
                    font-size: 1.2em;

                    @include bp (baby-bear) {
                        width: 280px;
                    }

                    // @include bp (mama-bear) {
                    //     width: 280px;
                    // }
                }
            }

            .love-story-photo {
                position: relative;
                // z-index: -1;

                @include bp (baby-bear) {
                    margin-top: 1em;   
                }

                @include bp (mama-bear) {
                    margin-top: 1em;   
                }

                span {
                    position: absolute;
                    top: -10%;
                    background-color: #cee0dd;
                    width: 43px;
                    height: 43px;
                    line-height: 41px;
                    text-align: center;
                    border: 2px solid #cee0dd;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -o-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;
                    // z-index: 10;
                }                       
            }     
        }
        
        li::first-child {
            margin-top: 100px;
        }


        li:nth-child(odd) {
            text-align: right;

            @include bp (baby-bear) {
                text-align: left;
            }

            @include bp (mama-bear) {
                text-align: left;
            }

          .love-story-description {
                margin-right: 45px;

                @include bp (baby-bear) {
                    margin-right: 0; 
                }

                @include bp (mama-bear) {
                    margin-right: 0; 
                }
          }

          .love-story-photo {
                margin-left: 45px;

                @include bp (baby-bear) {
                    margin-left: 0;
                }

                @include bp (mama-bear) {
                    margin-left: 0;
                }

              span {
                right: 105%;

                @include bp (baby-bear) {
                    left: -3.2em;
                    top: -22em;
                }

                @include bp (mama-bear) {
                    left: -4.8em;
                    top: -16em;
                }
              } 

          }
        }

        li:nth-child(even) {
            flex-direction: row-reverse;

          .love-story-description {
                margin-left: 45px;

                @include bp (baby-bear) {
                    margin-left: 0;
                }

                @include bp (mama-bear) {
                    margin-left: 0;
                }
          }

          .love-story-photo {
              margin-right: 45px;

              span {
                  left: 105%;

                  @include bp (baby-bear) {
                    left: -3.2em;
                    top: -22em;
                }

                @include bp (mama-bear) {
                    left: -4.8em;
                    top: -16em;
                }
              }
          }
        } 
    }

    // selects all but first list item
     ul li + li {
            .love-story-description {
                margin-top: 45px;
            }

    }
}

.love-story-image2 {
    display: none;
}



.wedding-events {
    padding-top: 90px;
    padding-bottom: 110px;

    @include bp (baby-bear) { 
        background-color: white !important;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 3em;
        height: 1450px;
    }

    .love-birds {
        display: flex;
        justify-content: center;
    }

    .section-title-container {
        display: flex;
        justify-content: center;

        .section-title {
            display: inline-block;
            padding: 0.3em 1em; 
        }
    }

    .wedding-event-info {
        margin: 100px 250px 0px 250px;

        @include bp (baby-bear) {
            margin: 0;
            margin-top: 3em;  
            margin-left: 2em;
            margin-right: 2em;
        }

        @include bp (mama-bear) {
            margin: 2em 2em 2em 2em;
        }

        @include bp (papa-bear) {
            margin: 2em 2em 2em 2em;
        }

        .ceremony, .reception {
            display: flex;

            @include bp (baby-bear) {
                display: block;  
            }

            @include bp (mama-bear) {
                display: block;  
            }

            .ceremony-photo, .reception-photo {
                margin-right: 4em;

                @include bp (baby-bear) {
                    margin-right: 0;  
                }
            }

            .reception-photo {

                @include bp (baby-bear) {
                    margin-top: 2em;
                    margin-bottom: 3em; 
                }

                @include bp (mama-bear) {
                    margin-top: 2em;
                    margin-bottom: 3em; 
                }
            }

            .ceremony-photo {
                margin-bottom: 3em;
            }

            .ceremony-info h3, .reception-info h3 {
                margin: 0 0 0.9em;
            }

            .address, .date {
                position: relative;
            }

            .address {
                margin-bottom: 0.5em;

                span {
                    padding-left: 22px;
                    margin-bottom: 2em;
                }
            }

            .date span {
                padding-left: 18px;
            }

            .wedding-info {
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }

            a {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

.seuss-quote {
    // width: 100%;
    height: 370px; 

    .quote-background {
        // width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: url("../../assets/images2/engagement-banner-image.jpg") center center/cover no-repeat local;
        // background-attachment: fixed;
        // color: white;
        padding-left: 3em;
        padding-right: 3em;

        @include bp (baby-bear) {
            padding-left: 1em;
            padding-right: 1em; 
            padding-top: 1em;
            padding-right: 1em;
            background: url("../../assets/images2/engagement-banner-image-phone.jpg") center center/cover no-repeat local;
        }

        .quote-text {
            font-size: 1.6em;
            font-weight: 700;
            width: 30em;
            // text-align: center;
            color: aliceblue;
            font-family: 'Shadows Into Light', cursive;
            line-height: 1.5;
            letter-spacing: 0.05em;

            @include bp (baby-bear) {
                font-size: 1em !important;
            }

          // .a {
          //   font-size: 2em;
          //   color: mistyrose;
          //   text-transform: uppercase;
          //   font-family: 'Montserrat', sans-serif;

          // }
            .seuss {
                margin-top: 0.7em;
                margin-left: 0.7em;

                @include bp (baby-bear) {
                    font-size: 1em !important;
                }
            }
        }

        .quote-text p {

        }
    }
}

.bridal-party {
    // height: 2000px;
    padding-top: 90px;
    // background-color: #fafafa;

    @include bp (baby-bear) {
        padding-top: 0;
        margin-top: 3em;
        background-color: white !important;
    }


    .love-birds {
        display: flex;
        justify-content: center;
    }

    .section-title-container {
        display: flex;
        justify-content: center;

        .section-title {
            display: inline-block;
            padding: 0.3em 1em; 
        }
    }

    .bridal-party-container {
        margin-top: 100px;

        @include bp (baby-bear) {

            margin-top: 3em;
        }

        .bridal-party-nav {   
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: center;

            .groomsmen-nav, .bridesmaids-nav {
                width: 140px;
                margin-right: 10px;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border: 3px solid white;
                border-radius: 5%;
                cursor: pointer;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                transition: background 0.8s;

                p {
                    text-transform: uppercase;
                    color: #b88c03;
                    font-family: 'Dosis', sans-serif;
                    font-weight: 600;

                }
            }

            .groomsmen-nav:hover, .bridesmaids-nav:hover {
                // background-color: #9fc2bc;
                background: #9fc2bc radial-gradient(circle, transparent 1%, #9fc2bc 1%) center/15000%;
            }

            .groomsmen-nav:active, .bridesmaids-nav:active {
                background-color: #cee0dd;
                background-size: 100%;
                transition: background 0s;
            }
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        .fade-in {
            opacity: 0;
            animation: fadeIn 0.9s ease-in 1 forwards;
        }

        .is-paused {
            animation-play-state: paused;
        }


        .groomsmen, .bridesmaids {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 60px;
            padding-bottom: 100px;

            @include bp (baby-bear) {

                padding-bottom: 0;
            }
           

            .about-groomsmen, .about-bridesmaids {
                height: 450px;
                background-color: white;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 15px;
                margin-bottom: 15px;

                @include bp (baby-bear) {
                    margin-left: 0;
                    margin-right: 0;
                }

                .groomsmen-text, .bridesmaids-text {
                    height: 160px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .groomsmen-text-container, .bridesmaids-text-container {
                        text-align: center;
                    }
                }
            }
        }

        .bridal-party-hide {
            opacity: 0;
            display: none;
            visibility: hidden;
        }
    }
}

.button-color-dark {
    background-color: #9fc2bc;
}

.button-color-light {
    background-color: #cee0dd;
}

.faq {
    margin-top: 90px;
    margin-bottom: 90px;

    @include bp (baby-bear) { 
        height: 3470px;
        margin-top: 0;
        // height: 2460px;
    }

    .faq-title {
        display: flex;
        justify-content: center;
    }

    .questions-and-answers-container {
        display: flex;
        justify-content: center;
        margin-left: 230px;
        margin-right: 230px;
        margin-top: 50px;

        @include bp (baby-bear) {
            margin-left: 2em;
            margin-right: 2em;
            margin-top: 2em;
        }

        @include bp (mama-bear) { 
            margin-left: 2em;
            margin-right: 2em;
        }

        .questions-and-answers {
            width: 700px;
    

            .question-container {
                padding: 25px 0 25px 10px;

                @include bp (baby-bear) {
                    padding: 20px 10px 20px 10px;
                }

                .question-title {
                    display: flex;
                    justify-content: space-between;
                }

                .question-answer {
                    margin-top: 20px;
                    padding-right: 35px;
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;

                    @include bp (baby-bear) {
                        height: 8em;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.rsvp {
    height: 100%;

    .rsvp-background {
        width: 100%;
        height: 100%;
        background: url("../../assets/images2/rsvp-flower-bg.jpg") center center/cover no-repeat local;
        
        .rsvp-title-container {
            display: flex;
            justify-content: center;

            .rsvp-title {
                margin-top: 100px;
                text-align: center;
                color: burlywood;

                @include bp (baby-bear) {
                    margin-top: 4em;
                }

                h1 {
                    font-family: 'Great Vibes', cursive;
                    font-size: 5em; 
                    // color: #46857a;
                }

                h3 {
                    font-size: 2em;
                    // font-family: 'Dosis', sans-serif;
                    font-weight: 500;
                    font-style: italic;

                    @include bp (baby-bear) {
                        font-size: 1.5em;
                    }
                }
            }

        }
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 100px;

            .form-design {
                background-color: rgba(255,255,255,0.1);
                color: aliceblue;
                // height: 50px;
                padding: 10px 20px;
                box-shadow: none;
                border: 2px solid gray;
                display: inline-block;
                border-radius: 25px;
                // width: 100%;
                font-size: 14px;
                line-height: 1.42857143;   
            }

            form {
                width: 600px;

                @include bp (baby-bear) {
                    text-align: center;
                }

                .row-1 {
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;
                    height: 80px;

                    @include bp (baby-bear) {
                        display: block;
                        height: 100%;
                    }

                    .form-design {
                        wdith: 210px;
                    }
                }

                .row-2 {
                    display: flex;    
                    justify-content: space-around;
                    margin-bottom: 20px;
                    height: 80px;

                    @include bp (baby-bear) {
                        display: block;
                        height: 100%;
                    }

                    .rsvp-dropdown {
                        width: 85px;
                        height: 40px;

                        @include bp (baby-bear) {
                            width: 8em;
                            text-align: center;
                            border: none; /* Remove borders */  
                            outline: none; /* Remove outline */
                        }
                    }

                    span {
                        color: aliceblue;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.9em;
                        margin-left: 0.5em;
                        letter-spacing: 1px;
                    }

                    #no-response {
                        line-height: 25px;
                    }
                }

                .row-2 > div {

                    @include bp (baby-bear) {
                        margin-bottom: 20px;
                    }
                }

                .row-3 {
                    display: flex;    
                    justify-content: space-evenly;
                    margin-bottom: 20px;

                    @include bp (baby-bear) {
                        display: block;
                    }


                    textarea {
                        width: 492px;
                        height: 90px;
                        outline: none;
                        letter-spacing: 1px;
                        font-family: 'Open Sans', sans-serif;
                        resize: none;

                        @include bp (baby-bear) {
                            width: 260px;
                        }
                    }
                }
                
                label {
                    display: block;
                    // color: #dec787;
                    color: burlywood;
                    margin-bottom: 9px;
                    font-size: 0.9em;
                    font-weight: 500;
                    font-family: 'Dosis', sans-serif;
                    letter-spacing: 1px;
                }

                .row-4 {
                    display: flex;
                    justify-content: center;

                    button {
                        width: 140px;
                        padding: 10px;
                        border: 3px solid white;
                        cursor: pointer;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                        transition: background 0.8s;
                        background-color: #cee0dd;

                        text-transform: uppercase;
                        color: #b88c03;
                        font-family: 'Dosis', sans-serif;
                        font-weight: 600;
                        font-size: 0.9em;

                        @include bp (baby-bear) {
                            margin-bottom: 4em;
                        }
                    }

                    button:hover {
                        background: #9fc2bc radial-gradient(circle, transparent 1%, #9fc2bc 1%) center/15000%;
                    }

                    button: active {
                        // background-color: #cee0dd;
                        // background-size: 100%;
                        // transition: background 0s;
                    }
                }
            }
            
        }

    }
}

.first-radio {

    @include bp (baby-bear) {
        position: relative;
        right: 0.55em;
    }
}

input[type="text"]:focus{
  outline: none;
}

.name-email {
    width: 215px;
}

.dropdown-container {
    text-align: center;
}

