.hero-container {
    height: 100vh;
    min-height: 700px;

    .hero-image {
        width: 100%;
        height: calc(100vh - 50px);
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;

        .names {
            height: 260px;
            text-align: center;
            position: relative;
            top: 8em;
        }
    }
}

header {
    .navigation {
        min-height: 70px;

        .nav-links {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            ul {
                margin-right: 4em;

                li {
                    margin-right: 2em;
                }
            }
        }
    }

    .pin-top {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .pin-top::after {
        position: absolute;
        width: 100%;
        height: 3px;
    }

    .pin-bottom {
        position: relative;
    }
}

header::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 2px;
}

.bride-groom {
    height: 100%;
    display: flex;
    justify-content: center;


    .bride-groom-container {
        width: 1140px;
        height: 912px;
        margin: 90px 130px 110px 130px;
        background-color: #000033;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

        .groom-photo {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .groom-about {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bride-about {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bride-photo {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533182881/alvin-mahmudov-172241-unsplash.jpg) center center/cover no-repeat local;
        }

        .groom-about-para, .bride-about-para {
            width: 100%;
            padding: 2em 4em 2em 4em;
        }

        .groom-about-para p, .bride-about-para p {
            margin-top: 1.5em;
        }
    }
}

.love-story {
  // height: 2000px;
    padding-top: 90px;
    background-color: #fafafa;


    .love-birds {
        display: flex;
        justify-content: center;
    }

    .section-title-container {
        display: flex;
        justify-content: center;

        .section-title {
            display: inline-block;
            padding: 0.3em 1em; 
        }
    }

    ul::before {
        content: '';
        width: 2px;
        height: 1455px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #ededed;
    }

    ul {
      margin-top: 100px;
      margin-bottom: 24px;
      margin-left: 130px;
      margin-right: 130px;
      padding-left: 0;
      list-style: none;

        li {
            height: 385px;
            display: flex;
            justify-content: center;
            padding-left: 100px;
            padding-right: 100px;

            
            .love-story-description {
                h3 {
                  font-family: 'Dosis', sans-serif;
                  font-size: 1.4em;
                }

                .love-story-date {
                    color: #000033;
                    margin-top: 6px;
                    text-transform: none;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                .love-story-paragraph {
                    width: 440px;
                    margin-top: 25px;
                    line-height: 1.8em;
                    font-family: "Dosis", sans-serif;
                    color: #767878;
                    text-transform: none;
                    font-size: 1.2em;
                }


            }

            .love-story-photo {
                position: relative;
                // z-index: -1;

                span {
                    position: absolute;
                    top: -10%;
                    background-color: #cee0dd;
                    width: 43px;
                    height: 43px;
                    line-height: 41px;
                    text-align: center;
                    border: 2px solid #cee0dd;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -o-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;
                    // z-index: 10;
                }                       
            }     
        }
        
        li::first-child {
            margin-top: 100px;
        }


        li:nth-child(odd) {
            text-align: right;

          .love-story-description {
              margin-right: 45px;
          }
          .love-story-photo {
              margin-left: 45px;

              span {
                  right: 105%;
              } 

          }
        }

        li:nth-child(even) {
            flex-direction: row-reverse;

          .love-story-description {
              margin-left: 45px;
          }
          .love-story-photo {
              margin-right: 45px;

              span {
                  left: 105%;
              }
          }
        } 
    }

    // selects all but first list item
     ul li + li {
            .love-story-description {
                margin-top: 45px;
            }

    }
}



.wedding-events {
    height: 800px;
    padding-top: 90px;
    padding-bottom: 110px;

    .love-birds {
        display: flex;
        justify-content: center;
    }

    .section-title-container {
        display: flex;
        justify-content: center;

        .section-title {
            display: inline-block;
            padding: 0.3em 1em; 
        }
    }

    .wedding-event-info {
        margin: 100px 250px 100px 250px;

        .ceremony, .reception {
            display: flex;

            .ceremony-photo, .reception-photo {
                margin-right: 4em;
            }

            .ceremony-photo {
                margin-bottom: 3em;
            }

            .ceremony-info h3, .reception-info h3 {
                margin: 0 0 0.9em;
            }

            .address, .date {
                position: relative;
            }

            .address {
                margin-bottom: 0.5em;

                span {
                    padding-left: 22px;
                    margin-bottom: 2em;
                }
            }

            .date span {
                padding-left: 18px;
            }

            .wedding-info {
                margin-top: 1.5em;
                margin-bottom: 1.5em;
            }

            a {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}
