.names {


    h1 {
        font-family: 'Great Vibes', cursive;
        // font-family: 'Parisienne', cursive;
        color: gainsboro;
        letter-spacing: 0.05em;
        font-size: 5em;
        // text-shadow: 1px 1px 2px rgba(0, 4, 3, 0.6);

        @include bp (baby-bear) {
            font-size: 3em;
        }
    }


    h2 {
        font-family: "Dosis", sans-serif;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 12px 20px;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        font-weight: 500;
    }

    h3 {
        color: white;
        margin-top: 0.5em;
        font-size: 2em;
        font-family: 'Great Vibes', cursive;
        font-weight: bold;
    }
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #daa520    
}

.groom-about-para h2, .bride-about-para h2{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.groom-about-para p, .bride-about-para p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
  line-height: 1.8em;
}

.groom-about-para span, .bride-about-para span {
    font-family: 'Great Vibes', cursive;
    font-size: 1.8em;
}

.join-us-text {
    font-size: 4em;
    font-family: 'Lovers Quarrel', cursive;
    color: lightgray;
}

.section-title {
    font-family: 'Great Vibes', cursive;
    font-size: 1.6em;
    letter-spacing: 5px;
    color: $gold;

    @include bp (baby-bear) {
        font-size: 1.2em !important;
    }
}

.ceremony-info h3, .reception-info h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: $dark-navy;
    text-transform: uppercase;
}

.address, .date {
    font-family: "Dosis", sans-serif;
    font-size: 0.88889em;
    color: $medium-gray;

    .fas, .far {
        color: $gold;
    }
}

.wedding-info {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    color: $darkest-gray;
    line-height: 1.8em;
}

a {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: $gold; 
}