@import "base/mixins";
@import "base/reset";
@import "base/variables";


@import "components/buttons";
@import "components/grid";
@import "components/navigation";
@import "components/typography";

.hero-image {
    background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533132631/cave-image.jpg) center center/cover no-repeat local;
    // opacity: 0.7;
}

header::after {
    content: "";
    background: $light-gray;
}

.navigation {
    background-color: $white;
    z-index: 1;

    ul {
        list-style: none;

        li {
            display: inline;
        }
    }
}

.pin-top::after {
    content: "";
    background: $light-gray;
}

.bride-groom-container {
    background-color: $dark-navy;

    .groom-photo {
        backround-color: blue;
        background: url(https://res.cloudinary.com/dzz2aiwnj/image/upload/v1533182760/groom.jpg) center center/cover no-repeat local;
    }

    .groom-about-para, .bride-about-para {
        color: white;
    }

    .bride-about-para {
        text-align: right;
    }

    .groom-about-para h2, .groom-about-para p, .bride-about-para h2, .bride-about-para p {
        color: darkgray; 
    }
}

.section-title {
    border-top: 1px solid #000033;
    border-bottom: 1px solid #000033;
}

.wedding-events {
  // background-color: #f6f6f6;
}