// @import "base/mixins";
@import "base/reset";
@import "base/variables";
@import "base/mixins";


@import "components/buttons";
@import "components/grid";
@import "components/navigation";
@import "components/typography";

.hero-image {
    background: url("../../assets/images2/hero-image.jpg") center center/cover no-repeat local;
    // opacity: 0.7;
}

header::after {
    content: "";
    background: $light-gray;
}

.navigation {
    background-color: $white;
    z-index: 1;

    ul {
        list-style: none;

        li {
            display: inline;
        }
    }
}

.pin-top::after {
    content: "";
    background: $light-gray;
}

.bride-groom-container {
    background-color: $dark-navy;

    .groom-photo {
        backround-color: blue;
        background: url("../../assets/images2/groom.jpg") center center/cover no-repeat local;
    }

    .groom-about-para, .bride-about-para {
        color: white;
    }

    .bride-about-para {
        text-align: right;
    }

    .groom-about-para h2, .groom-about-para p, .bride-about-para h2, .bride-about-para p {
        color: darkgray; 
    }
}

.section-title {
    border-top: 1px solid #000033;
    border-bottom: 1px solid #000033;
}

.wedding-events {
  background-color: #f6f6f6;
}

.bridal-party {
    background-color: #f6f6f6;

    .groomsmen-name, .bridesmaids-name {
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        color: goldenrod;
        font-weight: 600;
    }

    .groomsmen-title, .bridesmaids-title {
        font-family: "Dosis", sans-serif;
        color: #969494;
        font-size: 0.9em;
        margin-top: 10px;
    }
}


.faq-title h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.7em;
    font-weight: 100;
    color: goldenrod;
}

.question-container {
    border-bottom: 2px solid;
    border-color: rgba(204,204,204,0.6885245901639344);

    .question-title {
        font-family: 'Dosis', sans-serif;
        font-size: 1.1em;
        font-weight: bold;  
        color: #767878; 
        cursor: pointer;        
    }

    .question-answer {
        display: flex;
        align-items: center;
    }
    
    .question-answer-hide, .question-answer-show {
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        color: #767878;
        margin-top: 20px;
    }

    .question-answer-hide {
        height: 0px;
        opacity: 0;

        @include bp (baby-bear) {
            height: 57px;  
            opacity: 1;
        }
    }

    .question-answer-show {
        height: 57px;
        opaicty: 1;
    }
}

// Media Queiries

//if the screen size is less than or equal to 400px
// @media only screen and (max-width: 400px) {
//     .bride-groom-container {
//         background-color: red !important;
//     }
// }

// @media only screen and (max-width: 480px) {
//     body {
//         background-color: green !important;
//     }
// }

// @media only screen and (max-width: 480px) {
//     .names {
//         top: 27em;
//     }
// }

// @media only screen and (max-width: 480px) {



    // .hero-image-container {

    //     .hero-image {

    //         .names {
    //             @include bp (baby-bear) {
    //                 top: 27em;
    //             }
    //         }
    //     }
    // }
// }

// $bp1: "(max-width: 480px)";
// $bp2: "(max-width: 768px) and (min-width: 520px)";
// $bp3: "(min-width: 1024px)";

@media only screen and (max-width: 480px) { 

   .love-story-image1{
        display: none;
   }

   .love-story-image2{
        display: block;
   }

   .arrow {
        display: none;
   }

   .wedding-event-info {
        img {
            width: 375px;
            height: 260px;
        }
   }
   
    .about-groomsmen {
        img {
            width: 375px;
            height: 260px; 
        }
   }
}

