@mixin bp($point) {

$bp-babybear: "(max-width: 480px)";
$bp-mamabear: "(min-width: 481px) and (max-width: 767px)";
$bp-papabear: "(min-width: 768px) and (max-width: 1290px)";

  @if $point == papa-bear {
    @media #{$bp-papabear} { @content; }
  }
  @else if $point == mama-bear {
    @media #{$bp-mamabear} { @content; }
  }
  @else if $point == baby-bear {
    @media #{$bp-babybear}  { @content; }
  }
}

