$light-gray: #ececec;
$medium-gray: #a9a9a9;
$darkest-gray: #767878;
$dark-navy: #000033;
$golden-nav: #b88c03;
$gold: #daa520;
$white: #fff;

$bp-babybear: "(max-width: 480px)";
$bp-mamabear: "(min-width: 481px) and (max-width: 767px)";
$bp-papabear: "(min-width: 768px) and (max-width: 1290px)";

